div.skills(data-aos="fade-zoom-in", data-aos-easing="ease-in-back", data-aos-offset="0", data-aos-delay="200") 
    h2.title Skills
    div.row.my-3.pb-3
        h4 coding
        p Python, Django, Flask, FastAPI, Pandas, SQLAlchemy, DRF, SQL, HTML5, CSS3+SASS, Javascript, React, Jquery, php7, laravel
        h4 languages
        p English(B1), Russian(native)
        h4 other
        p GIT, Nginx, Linux, Docker, Postman, VScode, Figma
